@model UpnoidV3.Models.Customer

@{
    ViewData["Title"] = "Delete";
}
<div class="panel panel-success">
    <div class="jumbotron panel-heading text-center">
        DELETE CUSTOMER
    </div>
    <div class="col-md-offset-4">
        <h5>Are you sure you want to delete <b>@Model.FirstName  @Model.LastName ?</b></h5>
        <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(m => m.ID)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.ID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Birthdate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Birthdate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsSubcribedToNewsletter)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsSubcribedToNewsletter)
            </dd>
        </dl>

        <form asp-action="Delete" class="col-md-offset-1">
            <div class="form-actions no-color">
                <a asp-action="Index" class="btn btn-success">Back to List</a>
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>     
<p>
    Upnoid™
</p>
</div>

