@model PaginatedList<UpnoidV3.Models.Customer>

@{
    ViewData["Title"] = "Index";
}
@*<link href="~/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
   <div class="panel panel-success">
    <div class="jumbotron panel-heading text-center">
        <b> LIST OF CUSTOMERS</b> <br />
        <h4>We have: @Model.Count() customers(s)</h4>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create" class="btn btn-success col-xs-3">Add New Customer</a>
        </p>
        <br /><br />
    }
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">Last Name</a>
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Birth Date
                    </th>
                    <th>
                        Newsletter?
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Birthdate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsSubcribedToNewsletter)
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Edit</a>
                                @*<a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Details</a> |*@
                                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-danger @prevDisabled btn">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-danger @nextDisabled btn">
        Next
    </a>


    @*
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/css/bootstrap.min.css"></script>
        <script src="~/datatables/css/jquery.dataTables.min.css"></script>
        <script src="~/datatables/css/dataTables.bootstrap.min.css"></script>
        <script>
            $('mydata').dataTable();
        </script>
    *@
